body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #8abff7;
    /* background-image: url("../img/bg-2.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    height: 100vh;
}

.navbar {
    border-radius: 5px;
    background-color: #fff;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-custom .navbar-nav .nav-link {
    color: black;
}

#navbarNav a {
    border-radius: 2px;
    margin-right: 6px;
    padding: 10px;
}

#navbarNav a:hover {
    background-color: #ff9900;
    color: black;
}

#navbarNav .nav-link {
    font-size: larger;
    color: black;
}

.navbar-brand {
    font-size: 1.5em;
}

.footer-container {
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: #555;
    color: white;
}

.footer-container a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    
}

.footer-container a:hover {
    background-color: #ff9900;
    color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;}

.footer-container img {
    margin-right: 5px;
}

#about-page .about-socials img {
    margin-right: 5px;
}

#contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    text-align: left;
}

#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

#contact-form input[type="text"],
#contact-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contact-form textarea {
    resize: vertical;
    height: 200px;
}

#contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

#about-page #bridge-pose {
    width: 100%;
    height: auto;
}

#about-page .container {
    justify-items: center;
    background-color: #8abff7;
    padding: 20px;
    border-radius: 10px;
}

#about-page .about-socials a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

#about-page .about-socials a:hover {
    background-color: #ff9900;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

#about-page .about-socials img {
    margin-right: 5px;
}